*{
    box-sizing: border-box;
    margin: 0 auto;
    font-family: 'Noto Sans KR', sans-serif;
}

a{ text-decoration: none; color: #000; }
ul{ list-style: none; padding-left: 0;}

html, body{
    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@keyframes done{
    0%{
        transform: rotate(0deg);
    }
    10%{
        transform: rotate(10deg);
    }
    20%{
        transform: rotate(-10deg);
    }
    30%{
        transform: rotate(5deg);
    }
    40%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(2deg);
    }
    60%{
        transform: rotate(-2deg);
    }
    70%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

@keyframes slideUp {
    from{
        bottom: -100px;
    }
    to{
        bottom: 5px;
    }
}