*{
    box-sizing: border-box;
    margin: 0 auto;
}

a{ text-decoration: none; color: #000; }
ul{ list-style: none; padding-left: 0;}

html, body{
    background: #009FFF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #ec2F4B, #009FFF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #ec2F4B, #009FFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}